extends layout

block content
  table
    tr
      td Username:
      td= organization.username
    tr
      td Short Name:
      td= organization.shortname
    tr
      td Country:
      - var cLink = '/country/' + organization.country.id;
      - var cName = organization.country.name;
      - var sLink = '/server/' + organization.country.server.id;
      - var sName = organization.country.server.name;
      td #[a(href=cLink) #{cName}] (#[a(href=sLink) #{sName}])

  h2 Actions
  ul
    li
      a(href='/organization/edit/' + organization.id) Edit
